---
import SwiperLayout from "../../layouts/SwiperLayout.astro";
---

<SwiperLayout title="Slide 001">
  <div data-hash="slide1" class="swiper-slide">Slide 1</div>
  <div data-hash="slide2" class="swiper-slide">Slide 2</div>
  <div data-hash="slide3" class="swiper-slide">Slide 3</div>
  <div data-hash="slide4" class="swiper-slide">Slide 4</div>
  <div data-hash="slide5" class="swiper-slide">Slide 5</div>
  <div data-hash="slide6" class="swiper-slide">Slide 6</div>
  <div data-hash="slide7" class="swiper-slide">Slide 7</div>
  <div data-hash="slide8" class="swiper-slide">Slide 8</div>
  <div data-hash="slide9" class="swiper-slide">Slide 9</div>
</SwiperLayout>
