---
import "../../styles/base.css";
---

<section class="flex min-h-screen min-w-full items-center justify-center">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div data-hash="slide1" class="swiper-slide">Slide 1</div>
      <div data-hash="slide2" class="swiper-slide">Slide 2</div>
      <div data-hash="slide3" class="swiper-slide">Slide 3</div>
      <div data-hash="slide4" class="swiper-slide">Slide 4</div>
      <div data-hash="slide5" class="swiper-slide">Slide 5</div>
      <div data-hash="slide6" class="swiper-slide">Slide 6</div>
      <div data-hash="slide7" class="swiper-slide">Slide 7</div>
      <div data-hash="slide8" class="swiper-slide">Slide 8</div>
      <div data-hash="slide9" class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";

  new Swiper(".mySwiper", {
    spaceBetween: 100,
    hashNavigation: {
      watchState: true,
    },
    // loop: true,
    rewind: true,
    pagination: {
      el: ".swiper-pagination",
      // clickable: true,
      type: "fraction",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    keyboard: {
      enabled: true,
      onlyInViewport: false,
    },
    mousewheel: {
      invert: false,
    },
  });
</script>

<style>
  .swiper {
    @apply min-h-screen w-[90vw] bg-slate-100 px-24 py-16;
  }

  .swiper-pagination {
    @apply mb-16;
  }
</style>
